<table class="table table-bordered table-striped">
  <tr>
    <th>Member</th>
    <th>Vote</th>
    <th>Comment</th>
  <tr>
    <% @ballot.voters_with_choice.each do |voter, choice| %>
      <tr>
        <td class="bg-light"><%= voter.username %></td>
        <td class="bg-light"><%= choice[0]%></td>
        <td class="bg-light"><%= choice[1]%></td>
      </tr>
    <%end%>


