<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New ballot up! !</h1>
    <p> <%= @creator.username %> just put up a ballot on <%= @issue %>. Go vote on it! </p>
    <p> You can find it here at <%= @url %> </p>
  </body>
</html>
