<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi! We need your vote</h1>
    <p><%=@issue%> still needs your vote for quorum. Get along little doggie.</p>
  </body>
</html>
