<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, welcome to cccballot, <%= @user.username %>!</h1>
    <p>Hey you're all set to start voting. Great,</p>
  </body>
</html>
