
<h1> Committee Members </h1>
<table class="table table-bordered table-striped">
  <tr>
    <th>HR</th>
  </tr>
  <tr>
    <td> Jose Navarro </td>
    <td> jose.navarro.84@gmail.com </td>
  </tr>
  <tr>
    <th> CR </th>
  </tr>
  <tr>
    <td> Tim Diedtrich (acquisitions) </td>
    <td> timdnb78@gmail.com </td>
  </tr>
  <tr>
    <td> Kenny Kendo Lipscomb (relations) </td>
    <td> beatsbeendropped@gmail.com </td>
  </tr>
    <tr>
    <th> Scheduling </th>
  </tr>
  <tr>
    <td> Ted Polos </td>
    <td> tedpolos@gmail.com </td>
  </tr>
    <tr>
    <th> CR </th>
  </tr>
  <tr>
    <td>Anthony Guelfo</td>
    <td>grimergold12@gmail.com</td>
  </tr>
</table>
</div>