%table.table.table-bordered.table-striped.table-sm
  %thead.thead-light
    %tr
      %th
        User
      %th Membership
      %th Admin?
  - @users.each do |user|
    %tr
      %td
        - if current_user.admin
          = link_to user.username, edit_user_path(user)
        - else
          = user.username
      %td
        = user.membership
      - if user.admin
        %td
          Yes
      - else
        %td
          No
