%table.table.table-bordered.table-striped.table-sm
  %thead.thead-light
    %tr
      %th
        User
      %th
        Membership
      %th
        Admin?
      - if current_user.admin
        %th
          Remove Roles
  - @users.each do |user|
    %tr
      %td
        - if current_user.admin
          = link_to user.username, edit_user_path(user)
        - else
          = user.username
      %td
        = user.membership
      - if user.admin
        %td
          Yes
      - else
        %td
          No
      - if current_user.admin
        - if user.user_roles.any?
          %td
            = link_to "Remove Roles", remove_roles_path(user)
        - else
          %td
            User has no roles
