%table.table.table-bordered.table-striped.table-sm
  %thead.thead-light
    %tr
      %th
        User
      %th Membership
      %th Admin?
  - @users.each do |user|
    %tr
      %td
        = user.username
      %td
        = user.membership
      - if user.admin
        %td
          Yes
      - else
        %td
          No
