%h1
  Committee Members -
%strong
  Quick and dirty for who does what and how you can contact them


%table.table.table-bordered.table-striped
  %thead.thead-light
    %tr
      %th
        Committee/Role
      %th
        Members
    - @roles.each do |role|
      %tr
        %td
          = role.name
          |
          = role.description
        %td
          %ul.list-unstyled
            - role.users.each do |user|
              %li
                = user.username
                |
                = user.email
