<div class="container">
	<div class="row border">
		<h1 class="col-md-5">Ballot Issue</h1>
		<div class="col-md-7"></div>
	</div>
	<div class="row border">
		<h2 class="col-md-5">Ballot author</h2>
		<div class="col-md-7"></div>
	</div>
	<div class="row border">
		<p class="col-md-5">Ballot Content</p>
		<div class="col-md-7">Vote Options</div>
	</div>
	<div class="row border">
		<div class="col-md-2">Vote Results:</div>
		<div class="col-md-10">Actual Results
	</div>
</div>